.layout {
    max-width: 1300px;
}

@media screen and (min-width: 900px) {
    .layout>div:first-child {
        width: 77%;
    }
    
    #aside-content {
        width: 23%;
    }
    
}



.layout.hide-aside {
    max-width: 1300px;
}



.article-sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-sort-item.year {
    width: 100%;
}

.article-sort-item {
    padding: .5rem;
    margin: .3rem 0;
    border-radius: var(--border-radius);
}

.article-sort-item:not(.year) {
    width: 100%;
    box-shadow: var(--card-box-shadow);
}

@media screen and (min-width: 901px) {
    .article-sort-item:not(.year) {
        width: calc(50% - 0.25rem);
        box-shadow: var(--card-box-shadow);
    }
}

.article-sort-item:not(.year):before {
    content: unset;
}

.article-sort-item:before {
    left: calc(-20px - 7px);
}

/* 作者信息卡片背景 */
#aside-content .card-widget.card-info.text-center {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.342) 0%, rgb(255, 255, 255) 100%),
        url('/img/authorbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* 深色模式下的作者信息卡片背景 */
[data-theme='dark'] #aside-content .card-widget.card-info.text-center {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.342) 0%, rgb(0, 0, 0) 100%),
        url('/img/authorbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* 隐藏归档页面年份标题 */
.article-sort-item.year {
    display: none;
}
